# One hot encoding

In [8]:
import pandas as pd

In [2]:
df = pd.read_csv('airport.csv')

In [3]:
df.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [4]:
df['type'].value_counts()

type
small_airport     35696
heliport          13613
closed             5683
medium_airport     4532
seaplane_base      1045
large_airport       617
balloonport          35
Name: count, dtype: int64

In [10]:
pd.get_dummies(df,columns=['type'])

,id,ident,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,...,home_link,wikipedia_link,keywords,type_balloonport,type_closed,type_heliport,type_large_airport,type_medium_airport,type_seaplane_base,type_small_airport
0,6523,00A,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,...,NaN,NaN,NaN,False,False,True,False,False,False,False
1,323361,00AA,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,...,NaN,NaN,NaN,False,False,False,False,False,False,True
2,6524,00AK,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,...,NaN,NaN,NaN,False,False,False,False,False,False,True
3,6525,00AL,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,...,NaN,NaN,NaN,False,False,False,False,False,False,True
4,6526,00AR,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,...,NaN,NaN,00AR,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61216,317861,ZYYK,Yingkou Lanqi Airport,40.542524,122.358600,NaN,AS,CN,CN-21,"Laobian, Yingkou",...,NaN,https://en.wikipedia.org/wiki/Yingkou_Lanqi_Ai...,NaN,False,False,False,False,True,False,False
61217,32753,ZYYY,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,"Dadong, Shenyang",...,NaN,NaN,NaN,False,False,False,False,True,False,False
61218,46378,ZZ-0001,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,...,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad,False,False,True,False,False,False,False
61219,307326,ZZ-0002,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,...,NaN,NaN,NaN,False,False,False,False,False,False,True
61220,313629,ZZZZ,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima-Mura,...,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7",False,False,False,False,False,False,True

# Label Encoding

In [10]:
import pandas as pd
df1 = pd.read_csv('Iris.csv')

In [11]:
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

In [18]:
df1['Species']=le.fit_transform(df1['Species'])

In [19]:
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [20]:
df1.tail()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2